.form-row{
    padding: 10px 0;
    display: flex;
}
.form-row label{
    padding-right: 10px;
}
.form-row input{
flex: 1;
}
.container{
background-color: white;
width: 600px;
height: 100px;
position: relative;
margin: auto;
}
body{
    background-color: gray;
}